/* Header */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chat-screen-container {}

.chat-header {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    height: 10vh;
    background-color: #2b2d31;
    ;
    align-items: center;
    z-index: 0;
    padding: 0 10px;
}

.chat-screen-container .sidenav {
    display: none;
}

.chat-header .return-arrow {
    color: #B5BAC1;
    padding-top: 5px;
    font-size: 20px;
    padding-right: 10px;
}

.chat-header .user-chat-pfp {
    width: 35px;
    border-radius: 25px;
}

.chat-header .user-username {
    font-size: 15px;
    color: #e6e5e5;
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.chat-header .icon-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 23%;
    /*     background-color: rebeccapurple; */
    right: 25px;
    justify-content: space-between;
    align-items: center;
    color: #B5BAC1;
}

.chat-header .icon-container .phone-icon-bubble {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #313338;
    padding: 7px;
    border-radius: 50%;
}

.chat-header .icon-container .camera-icon-bubble {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #313338;
    padding: 7px;
    border-radius: 50%;
}




/* MAIN */

.chat-main {
    display: flex;
    flex-direction: column;
    background-color: #313338;
    margin-top: 9vh;
    padding-top: 1vh;
    width: 100vw;
    height: 81.1vh;
    overflow-y: scroll;
    gap: 10px;
}

.chat-main .message-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
}

.chat-main .message-box .user-pfp {
    width: 35px;
    border-radius: 50%;
}

.chat-main .message-box .name-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-left: 10px;
    width: 80vw;
}

.chat-main .message-box .name-text-container .username-box {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 20px;
    gap: 10px;
}

.chat-main .message-box .name-text-container .username-box .username {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.chat-main .message-box .name-text-container .username-box .date {
    font-size: 10px;
    padding-top: 1%;
    color: #848689;
    font-weight: 400;
}

.chat-main .message-box .name-text-container .text-box {
    width: 78vw;
}

.chat-main .message-box .name-text-container .text-box .message-text {
    font-size: 12px;
    color: #cacbce;
    font-weight: 500;
    white-space: wrap;
    word-break: break-all;
}



/* FOOTER */



.chat-footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background-color: #2b2d31;
}

.chat-footer .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    color: #B5BAC1;
}

.chat-footer .footer-form .add-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #41444a;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-footer .footer-form .add-box .add-cross {
    font-size: 16px;
    /* background-color: rebeccapurple; */
}

.chat-footer .footer-form .message-input {
    text-decoration: none;
    outline: none;
    background-color: #41444a;
    color: #B5BAC1;
    font-weight: 500;
    padding: 5px 10px 10px 10px;
    margin: 0 10px;
    width: 65vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    resize: none;
    scroll-behavior: smooth;
    cursor: pointer;
}

.chat-footer .footer-form .send-icon {
    cursor: pointer;
    display: flex;
    background-color: #41444a;
    border-radius: 50%;
}

.chat-footer .footer-form .send-icon-bttn {
    font-size: 20px;
    padding: 6px;
    color: #B5BAC1;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}


@media screen and (min-width: 650px) {
    .chat-screen-container .sidenav {
        display: none;
    }

    .chat-screen-container .sidenav-full {
        display: none;
    }

    .chat-header {
        padding: 5px 15px;
    }

    .chat-header .user-chat-pfp {
        width: 40px;
        border-radius: 50%;
    }

    .chat-header .user-username {
        font-size: 18px;
        padding-left: 15px;
    }

    .chat-header .icon-container {
        width: 13vw;
        right: 5vw;
    }

    .chat-header .icon-container .phone-icon-bubble {
        font-size: 21px;
        padding: 9px;
    }

    .chat-header .icon-container .camera-icon-bubble {
        font-size: 21px;
        padding: 9px;
    }


    /* MAIN */

    .chat-main {
        margin-top: 9vh;
        padding-left: 1vw;
        height: 82vh;
    }

    .chat-main .message-box {
        width: 92vw;
    }

    .chat-main .message-box .user-pfp {
        width: 40px;
        border-radius: 50%;
    }

    .chat-main .message-box .name-text-container .username-box .username {
        font-size: 15px;
    }

    .chat-main .message-box .name-text-container .username-box .date {
        font-size: 11px;
        padding-top: 3px;
    }

    .chat-main .message-box .name-text-container .text-box .message-text {
        font-size: 13px;
    }


    /* FOOTER */
    .chat-footer .footer-form .add-box {
        padding: 11px;
    }

    .chat-footer .footer-form .add-box .add-cross {
        font-size: 20px;
    }

    .chat-footer .footer-form .message-input {
        padding: 10px;
        height: 6vh;
        width: 80vw;
        font-size: 14px;
    }

    .chat-footer .footer-form .send-icon-bttn {
        font-size: 25px;
        padding: 8px;
    }
}


@media screen and (min-width: 950px) {
    .chat-screen-container .sidenav {
        display: flex;
        top: 0;
    }

    .chat-screen-container .sidenav-full {
        display: flex;
        top: 0;
    }

    .chat-header {
        display: flex;
        width: 65vw;
        height: 9vh;
        position: fixed;
        left: 35vw;
        padding: 5px 25px;
    }

    .chat-header .return-arrow {
        display: none;
    }

    .chat-header .user-chat-pfp {
        width: 40px;
        border-radius: 50%;
    }

    .chat-header .user-username {
        font-size: 20px;
        padding-left: 15px;
    }

    .chat-header .icon-container {
        width: 9vw;
        right: 3vw;
    }

    .chat-header .icon-container .phone-icon-bubble {
        font-size: 20px;
        padding: 10px;
    }

    .chat-header .icon-container .camera-icon-bubble {
        font-size: 20px;
        padding: 10px;
    }


    /* MAIN */

    .chat-main {
        margin-top: 9vh;
        width: 65vw;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-left: 35vw;
        height: 82vh;
    }

    .chat-main .message-box {
        width: 65vw;
    }

    .chat-main .message-box .user-pfp {
        width: 40px;
        border-radius: 50%;
    }

    .chat-main .message-box .name-text-container {
        width: 55vw;
    }

    .chat-main .message-box .name-text-container .username-box {
        width: 55vw;
    }

    .chat-main .message-box .name-text-container .username-box .username {
        font-size: 15px;
    }

    .chat-main .message-box .name-text-container .username-box .date {
        font-size: 11px;
        padding-top: 3px;
    }

    .chat-main .message-box .name-text-container .text-box {
        width: 55vw;
    }

    .chat-main .message-box .name-text-container .text-box .message-text {
        font-size: 13px;
    }


    /* FOOTER */

    .chat-footer {
        left: 35vw;
        width: 65vw;
    }

    .chat-footer .footer-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        color: #B5BAC1;
    }

    .chat-footer .footer-form .add-box {
        padding: 9px;
    }

    .chat-footer .footer-form .add-box .add-cross {
        font-size: 20px;
    }

    .chat-footer .footer-form .message-input {
        padding: 10px;
        width: 53vw;
        font-size: 14px;
    }

    .chat-footer .footer-form .send-icon {
        font-size: 22px;
    }
}



@media screen and (min-width: 1300px) {

    .chat-header .icon-container {
        position: absolute;
        width: 7vw;
        right: 5vw;
    }

    .chat-footer .footer-form .message-input {
        width: 55vw;
        font-size: 15px;
    }

    .chat-main .message-box {
        align-items: center;
    }

    .chat-main .message-box .name-text-container {
/*         height: 60px; */
/*         padding: 0 20px; */
        gap: 7px;
    }

    .chat-main .message-box .name-text-container .username-box .username {
        font-size: 18px;
    }

    .chat-main .message-box .name-text-container .username-box .date {
        font-size: 12px;
    }

    .chat-main .message-box .name-text-container .text-box {
        width: 55vw;
    }

    .chat-main .message-box .name-text-container .text-box .message-text {
        font-size: 15px;
    }

}



@media screen and (min-width: 1800px) {
    .chat-header {
        display: flex;
        width: 65vw;
        height: 9vh;
        position: fixed;
        left: 35vw;
        padding: 5px 40px;
    }

    .chat-header .user-chat-pfp {
        width: 60px;
        border-radius: 50%;
    }

    .chat-header .user-username {
        font-size: 25px;
        padding-left: 15px;
    }

    .chat-header .icon-container {
        width: 8vw;
    }

    .chat-header .icon-container .phone-icon-bubble {
        font-size: 30px;
        padding: 15px;
    }

    .chat-header .icon-container .camera-icon-bubble {
        font-size: 30px;
        padding: 15px;
    }


    /* MAIN */

    .chat-main {
        margin-top: 9vh;
        width: 65vw;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-left: 35vw;
        height: 82vh;
    }

    .chat-main .message-box {
        width: 65vw;
    }

    .chat-main .message-box .user-pfp {
        width: 60px;
        border-radius: 50%;
    }

    .chat-main .message-box .name-text-container {
        height: 60px;
        padding: 0 20px;
        gap: 15px;
    }

    .chat-main .message-box .name-text-container .username-box .username {
        font-size: 23px;
    }

    .chat-main .message-box .name-text-container .username-box .date {
        font-size: 15px;
    }

    .chat-main .message-box .name-text-container .text-box {
        width: 55vw;
    }

    .chat-main .message-box .name-text-container .text-box .message-text {
        font-size: 19px;
    }


    /* FOOTER */

    .chat-footer .footer-form .add-box {
        padding: 15px;
    }

    .chat-footer .footer-form .add-box .add-cross {
        font-size: 28px;
    }

    .chat-footer .footer-form .message-input {
        padding: 20px;
        width: 55vw;
        font-size: 21px;
        margin-right: 1vw;
    }

    .chat-footer .footer-form .send-icon{
        font-size: 37px;
    }

    .chat-footer .footer-form .send-icon-bttn {
        padding: 12px;
    }
}