@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap');

* {
    font-family: "Noto Sans Warang Citi", sans-serif;
    text-decoration: none;
    outline: none;
}

/*                           Header                             */

.chats-header {
    display: flex;
    width: 100vw;
    height: 8vh;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    position: fixed;
    top: 0;
    border-bottom: 1.5px solid #222327;
    z-index: 3;
    background-color: #2B2D31;
    overflow-x: hidden;
}

.chats-header .mensajes {
    font-size: 16px;
    letter-spacing: 1.2px;
}

.search-add-nav {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    padding-top: 7px;
}

.search-add-nav .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgb(57, 62, 70);
    border-radius: 50%;
    /* position: fixed;
    left: 22vw; */
}

.search-add-nav .search-icon .lupa {
    color: gainsboro;
    font-size: 15px;
}

.search-add-nav .añadir-amigos {
    font-family: "Noto Sans Warang Citi", sans-serif;
    gap: 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gainsboro;
    background-color: rgb(57, 62, 70);
    width: 200px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
}

.search-add-nav .añadir-amigos .friend-icon {
    font-size: 15px;
}

.search-add-nav .contact-add-container {
    display: flex;
    align-items: center;
    background-color: rgb(57, 62, 70);
    border-radius: 15px;
    padding: 7px 10px 7px 10px;
    width: 180px;
}

.search-add-nav .contact-add-container .close-form-bttn {
    background-color: transparent;
    border: none;
    color: #B5BAC1;
    font-weight: 500;
    padding-right: 5px;
    font-size: 10px;
}

.search-add-nav .contact-add-container .contact-input {
    color: #B5BAC1;
    border: none;
    background-color: transparent;
}

.search-add-nav .contact-add-container .add-friend-bttn {
    padding-left: 5%;
    border: none;
    background-color: rgb(57, 62, 70);
}

.search-add-nav .contact-add-container .add-friend-icon {
    font-size: 12px;
}


/*                               Main                                */

.chats-main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 12vh;
    overflow-x: hidden;
}

.chats-nav {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    overflow-y: scroll;
    gap: 10px;
    padding-left: 7px;
    margin-bottom: 15vh;
}

.chats-nav .chat-box {
    display: flex;
    flex-direction: row;
    width: 96%;
    /*     height: 30px; */
    gap: 5px;
    padding: 5px 0 5px 5px;
    cursor: pointer;
    align-items: end;
    border-radius: 10px;
    text-decoration: none;
    height: 30px;
}

.chats-nav .chat-box:hover {
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 500ms;
    background-color: rgba(57, 62, 70, 0.425);
    width: 96%;
}

.chats-nav .chat-box .chat-pfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chats-nav .chat-box .titulo-ult-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0px 5px;
    height: 33px;
    width: 57vw;
    gap: 5px;
}

.chats-nav .chat-box .titulo-ult-msg .chat-title {
    display: flex;
    font-family: "Noto Sans Warang Citi", sans-serif;
    max-height: 15px;
    font-size: 12px;
    letter-spacing: 0.8px;
    color: rgb(201, 201, 205);
    word-break: break-all;

}

.chats-nav .chat-box .titulo-ult-msg .last-msg {
    font-size: 10px;
    letter-spacing: 0.8px;
    color: rgb(201, 201, 205);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 145px;
}

.chats-nav .chat-box .last-msg-date {
    font-size: 10px;
    color: rgb(201, 201, 205);
    padding-left: 5px;
    width: 50px;
}

/*                                           Scrollbar                                                 */

/* width */
::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

::placeholder {
    color: #d1d4d8;
}



/*                      MEDIA QUERIES                         */

@media screen and (min-width: 650px) {
    /*                           Header                             */

    .chats-header {
        height: 10vh;
        padding: 18px 18px 0 18px;
        border-bottom: 2px solid rgba(57, 62, 70, 0.425);
        /*     background-color: aquamarine; */
    }

    .chats-header .mensajes {
        font-size: 18px;
        letter-spacing: 1.2px;
    }

    .search-add-nav {
        /*     background-color: red; */
        padding-top: 1vw;
    }

    .search-add-nav .search-icon {
        width: 30px;
        height: 30px;
    }

    .search-add-nav .search-icon .lupa {
        font-size: 15px;
    }

    .search-add-nav .añadir-amigos {
        font-size: 15px;
        width: 50vw;
        height: 4vh;
    }

    .search-add-nav .añadir-amigos .friend-icon {
        font-size: 20px;
    }

    .search-add-nav .contact-add-container {
        display: flex;
        align-items: center;
        background-color: rgb(57, 62, 70);
        border-radius: 15px;
        padding: 8px 20px 8px 20px;
        width: 40vw;
    }

    .search-add-nav .contact-add-container .close-form-bttn {
        background-color: transparent;
        border: none;
        color: #B5BAC1;
        font-weight: 500;
        padding-right: 15px;
        font-size: 12px;
    }

    .search-add-nav .contact-add-container .contact-input {
        width: 35vw;
        font-size: 14px;
        border: none;
        background-color: transparent;
    }

    /*                               Main                                */

    .chats-main {
        display: flex;
        flex-direction: column;
        width: 65vw;
        margin-top: 14vh;
        /*     background-color: rebeccapurple; */
    }

    .chats-nav {
        gap: 10px;
        padding-left: 1vw;
    }

    .chats-nav .chat-box {
        align-items: center;
        gap: 8px;
        padding: 8px 0 8px 8px;
        border-radius: 10px;
        text-decoration: none;
    }

    .chats-nav .chat-box .chat-pfp {
        width: 32px;
        height: 32px;
    }

    .chats-nav .chat-box .titulo-ult-msg {
        padding: 0 0 0px 5px;
        height: 33px;
        width: 45vw;
        /* background-color: rebeccapurple; */
        gap: 5px;
    }

    .chats-nav .chat-box .titulo-ult-msg .chat-title {
        font-size: 13px;
        font-weight: 400;
    }

    .chats-nav .chat-box .titulo-ult-msg .last-msg {
        font-size: 12px;
        max-width: 45vw;
    }

    .chats-nav .chat-box .last-msg-date {
        font-size: 11px;
        padding-left: 5px;
        width: 50px;
    }
}

@media screen and (min-width: 950px) {
    /*                           Header                             */

    .chats-header {
        height: 10vh;
        padding: 18px 18px 0 18px;
        border-bottom: 2px solid rgba(57, 62, 70, 0.425);
        /*     background-color: aquamarine; */
    }

    .chats-header .mensajes {
        font-size: 18px;
        letter-spacing: 1.2px;
    }

    .search-add-nav {
        /*     background-color: red; */
        padding-top: 1vw;
    }

    .search-add-nav .search-icon {
        width: 30px;
        height: 30px;
    }

    .search-add-nav .search-icon .lupa {
        font-size: 15px;
    }

    .search-add-nav .añadir-amigos {
        font-size: 15px;
        width: 50vw;
        height: 4vh;
    }

    .search-add-nav .añadir-amigos .friend-icon {
        font-size: 20px;
    }

    .search-add-nav .contact-add-container {
        display: flex;
        align-items: center;
        background-color: rgb(57, 62, 70);
        border-radius: 15px;
        padding: 8px 20px 8px 20px;
        width: 40vw;
    }

    .search-add-nav .contact-add-container .close-form-bttn {
        background-color: transparent;
        border: none;
        color: #B5BAC1;
        font-weight: 500;
        padding-right: 15px;
        font-size: 12px;
    }

    .search-add-nav .contact-add-container .contact-input {
        width: 35vw;
        font-size: 14px;
        border: none;
        background-color: transparent;
    }

    /*                               Main                                */

    .chats-nav .chat-box .chat-pfp {
        width: 32px;
        height: 32px;
    }

    .chats-nav .chat-box .titulo-ult-msg {
        padding: 0 0 0px 5px;
        height: 50px;
        width: 45vw;
        gap: 6px;
    }

    .chats-nav .chat-box .titulo-ult-msg .chat-title {
        font-size: 13px;
        font-weight: 400;
    }

    .chats-nav .chat-box .titulo-ult-msg .last-msg {
        font-size: 12px;
        max-width: 45vw;
    }

    .chats-nav .chat-box .last-msg-date {
        font-size: 11px;
        padding-left: 5px;
        width: 50px;
    }
}


@media screen and (min-width: 1300px) {
    /*                           Header                             */
    .chats-header{
        padding: 20px;
    }

    .chats-header .mensajes {
        font-size: 25px;
    }

    .search-add-nav .search-icon {
        width: 45px;
        height: 45px;
    }

    .search-add-nav .search-icon .lupa {
        font-size: 20px;
    }

    .search-add-nav .añadir-amigos {
        font-size: 20px;
        width: 50vw;
        height: 5vh;
    }

    .search-add-nav .añadir-amigos .friend-icon {
        font-size: 30px;
        padding-right: 10px;
    }

    .search-add-nav .contact-add-container {
        display: flex;
        align-items: center;
        background-color: rgb(57, 62, 70);
        border-radius: 15px;
        padding: 8px 20px 8px 20px;
        width: 50vw;
    }

    .search-add-nav .contact-add-container .close-form-bttn {
        padding-right: 15px;
        font-size: 20px;
    }

    .search-add-nav .contact-add-container .contact-input {
        width: 45vw;
        font-size: 18px;
    }

    .search-add-nav .contact-add-container .add-friend-icon {
        font-size: 18px;
    }

    /*                               Main                                */

    .chats-nav {
        margin-top: 1vh ;
        gap: 20px;
        padding-left: 1vw;
    }

    .chats-nav .chat-box {
        align-items: center;
        gap: 13px;
        padding: 13px 0 13px 13px;
        border-radius: 10px;
        text-decoration: none;
    }

    .chats-nav .chat-box .chat-pfp {
        width: 40px;
        height: 40px;
    }

    .chats-nav .chat-box .titulo-ult-msg {
        width: 50vw;
        gap: 10px;
        /* background-color: rebeccapurple; */
    }

    .chats-nav .chat-box .titulo-ult-msg .chat-title {
        font-size: 16px;
    }

    .chats-nav .chat-box .titulo-ult-msg .last-msg {
        font-size: 13px;
        max-width: 50vw;
    }

    .chats-nav .chat-box .last-msg-date {
        font-size: 12px;
    }
}



@media screen and (min-width: 1800px) {
    /*                           Header                             */

    .chats-header .mensajes {
        font-size: 30px;
    }

    .search-add-nav .search-icon {
        width: 55px;
        height: 55px;
    }

    .search-add-nav .search-icon .lupa {
        font-size: 24px;
    }

    .search-add-nav .añadir-amigos .friend-icon {
        font-size: 30px;
        padding-right: 10px;
    }

    .search-add-nav .contact-add-container {
        padding: 15px 20px 15px 20px;
    }

    .search-add-nav .contact-add-container .contact-input {
        font-size: 20px;
    }

    /*                               Main                                */

    .chats-nav {
        gap: 20px;
        padding-left: 1vw;
    }

    .chats-nav .chat-box {
        gap: 15px;
        padding: 15px 0 15px 15px;
        border-radius: 10px;
        text-decoration: none;
    }

    .chats-nav .chat-box .chat-pfp {
        width: 50px;
        height: 50px;
    }

    .chats-nav .chat-box .titulo-ult-msg {
        gap: 15px;
        max-width: 50vw;
    }

    .chats-nav .chat-box .titulo-ult-msg .chat-title {
        font-size: 18px;
        max-width: 45vw;
    }

    .chats-nav .chat-box .titulo-ult-msg .last-msg {
        font-size: 16px;
        max-width: 45vw;
    }

    .chats-nav .chat-box .last-msg-date {
        font-size:  15px;
        text-align: end;
        width: 5vw;
    }
}