.forgot-password-screen {
    display: flex;
    background-color: #313338;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    align-items: center;
    flex-direction: column;
}

.forgot-password-screen .forgot-password-img {
    padding: 15vh 0 5vh 0;
    width: 100px;
    height: 100px;
    color: #5865F2;
}

.forgot-password-screen .forgot-password-title {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.forgot-password-screen .field-container-div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.forgot-password-screen .field-label {
    font-weight: 250;
    font-size: 12px;
    color: #B5BAC1;
    padding-left: 1%;
    width: 230px;
}

.forgot-password-screen .forgot-password-input {
    width: 230px;
    height: 15px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #1E1F22;
    padding: 10px;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    margin-bottom: 1vh;
}

.forgot-password-screen .to-register-link {
    font-size: 12px;
    text-decoration: none;
    color: rgb(97, 162, 209);
    padding-left: 1%;
}

.forgot-password-screen .continue-bttn {
    width: 250px;
    height: 35px;
    background-color: #5865F2;
    border: none;
    border-radius: 5px;
    color: #B5BAC1;
    margin-top: 15px;
    font-weight: 400;
}


/* POPUP */

.forgot-password-screen .pop-up-bg {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.578);
}

.forgot-password-screen .pop-up-container {
    position: absolute;
    top: 35%;
    flex-direction: column;
    justify-content: space-between ;
    gap: 20px;
    height: 30%;
    width: 80%;
    background-color: #313338;
    border-radius: 5px;
}

.forgot-password-screen .pop-up-container .pop-up-header {
    padding: 6%;
    height: 50%;
}

.forgot-password-screen .pop-up-container .pop-up-header .pop-up-title {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 2%;
}

.forgot-password-screen .pop-up-container .pop-up-header .pop-up-text {
    font-size: 12px;
    color: #B5BAC1;
}

.forgot-password-screen .pop-up-container .pop-up-footer {
    display: flex;
    align-items: center;
    height: 35%;
    width: 80vw;
    background-color: #1E1F22;
}

.forgot-password-screen .pop-up-container .pop-up-footer .pop-up-bttn {
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 65%;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
}

/* MEDIAQUERIES */

@media screen and (min-width: 650px) {
    .forgot-password-screen .forgot-password-img {
        width: 125px;
        height: 125px;
    }

    .forgot-password-screen .forgot-password-title {
        font-size: 30px;
    }

    .forgot-password-screen .field-label {
        font-size: 16px;
        width: 50vw;
    }

    .forgot-password-screen .forgot-password-input {
        width: 50vw;
        height: 4vh;
        font-size: 14px;
        border-radius: 10px;
    }

    .forgot-password-screen .to-register-link {
        font-size: 16px;
    }

    .forgot-password-screen .continue-bttn {
        width: 53vw;
        height: 6vh;
        font-size: 15px;
        font-weight: 400;
    }



    /* POP UP */

    .forgot-password-screen .pop-up-container {
        top: 30vh;
        height: 35vh;
        width: 50vw;
    }

    .forgot-password-screen .pop-up-container .pop-up-header {
/*         background-color: rebeccapurple; */
        padding: 6%;
        height: 50%;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-title {
        font-size: 25px;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-text {
        font-size: 16px;
        color: #B5BAC1;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-footer {
        height: 35%;
        width: 50vw;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-footer .pop-up-bttn {
        margin-left: 35vw;
        padding: 3% 8%;
    }
}


@media screen and (min-width: 950px) {
    .forgot-password-screen .forgot-password-img {
        width: 175px;
        height: 175px;
    }

    .forgot-password-screen .forgot-password-title {
        font-size: 40px;
    }

    .forgot-password-screen .field-label {
        font-size: 22px;
        width: 50vw;
    }

    .forgot-password-screen .forgot-password-input {
        width: 50vw;
        height: 4vh;
        font-size: 20px;
        padding: 3%;
        border-radius: 10px;
    }

    .forgot-password-screen .to-register-link {
        font-size: 20px;
    }

    .forgot-password-screen .continue-bttn {
        height: 7vh;
        font-size: 20px;
        font-weight: 500;
    }



    /* POP UP */

    .forgot-password-screen .pop-up-container {
        top: 30vh;
        height: 40vh;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-title {
        font-size: 32px;

    }
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-text {
        font-size: 21px;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-footer .pop-up-bttn {
        font-size: 20px;
    }
}


@media screen and (min-width: 1350px) {
    .forgot-password-screen .forgot-password-img {
        width: 220px;
        height: 220px;
    }

    .forgot-password-screen .forgot-password-title {
        font-size: 50px;
    }

    .forgot-password-screen .field-label {
        font-size: 25px;
        width: 50vw;
    }

    .forgot-password-screen .forgot-password-input {
        font-size: 22px;
    }

    .forgot-password-screen .to-register-link {
        font-size: 28px;
    }

    .forgot-password-screen .continue-bttn {
        font-size: 30px;
    }



    /* POP UP */
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-title {
        font-size: 45px;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-text {
        font-size: 28px;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-footer .pop-up-bttn {
        font-size: 28px;
    }
}

@media screen and (min-width: 1850px) {
    .forgot-password-screen .forgot-password-img {
        width: 300px;
        height: 300px;
    }

    .forgot-password-screen .forgot-password-title {
        font-size: 55px;
    }

    .forgot-password-screen .field-label {
        font-size: 35px;
    }

    .forgot-password-screen .forgot-password-input {
        font-size: 30px;
    }

    .forgot-password-screen .to-register-link {
        font-size: 32px;
    }

    .forgot-password-screen .continue-bttn {
        font-size: 35px;
    }

    /* POP UP */
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-title {
        font-size: 50px;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-header .pop-up-text {
        font-size: 32px;
    }
    
    .forgot-password-screen .pop-up-container .pop-up-footer .pop-up-bttn {
        font-size: 32px;
    }
}