*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.text{
    color: white;
}

.main{ 
    display: flex;
    margin-left: 18vw;
    width: 82vw;
    height: 100vh;
    background-color: #2B2D31; /* #313338 */
    z-index: 2;
    overflow-x: hidden;
}

@media screen and (min-width: 550px) {
    .main{ 
        display: flex;
        margin-left: 35vw;
        width: 65vw;
        height: 100vh;
    }
}
